<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Funded Futures Network</h1>
  <p class="fs-4 text-muted">We fund futures traders</p>
  <p class="fs-5 text-muted">Pass the evaluation & trade our capital</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h2 class="display-4 fw-normal">Select Your Package</h2>
</div>
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center container justify-content-center m-auto">
  <div class="col" *ngFor="let tier of tiers">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{tier['friendly']}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li class="mt-2">{{tier['dailyDrawdown']}}</li>
          <li class="mt-2">{{tier['trailingMax']}}</li>
          <li class="mt-2">{{tier['contractMax']}}</li>
        </ul>
        <button type="button" class="w-100 mb-4 btn btn-md btn-outline-primary" routerLink="/sign-up">Standard Package: {{tier['standardPrice'] | currency}}/mo</button>
        <button type="button" class="w-100 btn btn-md btn-outline-success" routerLink="/sign-up">Express Package: {{tier['expressPrice'] | currency }}/mo</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-dark pt-3 pb-3 border-bottom border-top video-section">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">We work hard to ensure that you become a consistent trader</h2>
    <p class="fs-6 text-muted">FFN’s founders are real traders, so we fully understand the frustrations that traders can encounter on a day to day basis. This is why we have created a system designed to help you focus on what is most important as a
      trader…</p>
    <p class="fs-5">THE PROCESS!</p>
  </div>

  <div class="row mb-3 text-center container justify-content-center m-auto">
    <iframe width="1120" height="630" src="https://www.youtube.com/embed/QR7WlHYZ9h4" title="How To Get Your Account Funded As A Trader [up to 250k in trading equity]" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>


<div class="container-fluid pt-3 pb-3 border-top">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">How it works</h2>
  </div>
  <div class="row mb-3 text-center container justify-content-center m-auto">
    <ul class="list-unstyled mt-3 mb-4 text-start">
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Choose Your account size</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Pay the monthly subscription</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Start your Evaluation Account</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Reach your Profit Target without breaking any rules</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>If a rule is broken, you will have the option to restart a fresh evaluation for a 100$ reset fee.</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Once your evaluation is complete and audited, you will move on to the Exhibition account.</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Once you have completed the evaluation and your account has been audited you will receive your Exhibition account</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Trade the "Exhibition" account while your "Funded-Pro" account is setup for live trading. (10-15 business days).</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>If a rule is broken during the "exhibition", you must return to the Evaluation account and restart.</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>You may transfer up to the pre-determined amount relative to your account size, from "exhibition" to "Funded-Pro".</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Once in the Funded-Pro account, you must maintain the minimum threshold in your account before withdrawing</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Withdrawals of (minimum) 1k+ can be made every Tuesday provided you are above the account threshold.</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>When a withdrawal is initiated, FFN will take 20%, and distribute the remaining 80% via PayPal, bank wire, or ACH.</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>There is no maximum withdrawal, as long as you remain above your account threshold.</li>
      <li> <i aria-hidden="true" class="fas fa-chart-line"></i>Withdrawals are processed within 24 hours but may take up to 7 business days to reach your bank.</li>
    </ul>
  </div>
</div>

<div class="container-fluid pt-3 bg-dark pb-3 border-top video-section">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">Trading Products Permitted At FFN</h2>
  </div>
  <div class="row mb-3 text-center container justify-content-center m-auto">
    <table class="table video-section table-bordered">
      <tbody>
        <tr style="border-top:none;">
          <td style="border-left:none;">
            <h4>Equity Indices</h4>
            E-mini S&P 500 (ES)<br>
            Nikkei NKD (NKD)<br>
            E-mini NASDAQ 100 (NQ)<br>
            Mini-DOW (YM)<br>
            Russell 2000 (RTY)<br><br>
            Micro E-Mini S&P 500 (MES)<br>
            Micro E-Mini Dow Jones (MYM)<br>
            Micro E-Mini Nasdaq-100 (MNQ)<br>
            Micro E-Mini Russel 2000 (M2K)<br>
          </td>
          <td>
            <h4>Interest Rate Futures</h4>
            Eurodollar (GE)<br>
            2-Year Note (ZT)<br>
            5-Year Note (ZF)<br>
            10-Year Note (ZN)<br>
            30-Year Bond (ZB)<br>
            Ultra-Bond (UB)<br>
          </td>
          <td style="border-right:none;">
            <h4>Currency & Crypto Futures</h4>
            Australian $ (6A)<br>
            British Pound (6B)<br>
            Canadian $ (6C)<br>
            Euro FX (6E)<br>
            Japanese Yen (6J)<br>
            New Zealand Dollar (6N)<br><br>
            <strong>Bitcoin Micro Futures (MBT)</strong><br><br>
            <strong>Ethereum Micro Futures (MET)</strong><br>
          </td>
        </tr>
        <tr style="border-bottom:none">
          <td style="border-left:none;">
            <h4>Agriculture Futures</h4>
            Lean Hogs (HE)<br>
            Live Cattle (LE)<br>
            Feeder Cattle (GF)<br>
            Corn (ZC)<br>
            Wheat (ZW)<br>
            Soybeans (ZS)<br>
          </td>
          <td>
            <h4>Energy Futures</h4>
            Crude Oil (CL)<br>
            E-mini Crude Oil (QM)<br>
            Natural Gas (NG)<br>
            E-mini Natural Gas (QG)<br>
            Heating Oil (HO)<br>
            New York Harbor (RB)<br>
          </td>
          <td style="border-right:none;">
            <h4>Metal Futures</h4>
            Gold (GC)<br>
            Silver(SI)<br>
            Copper(HG)<br>
            Platinum(PL)<br>
            Palladium(PA)<br>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid pt-3 pb-3 border-top">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">Rules Comparison</h2>
    <h4 class="display-6 fw-normal">Standard Account</h4>
  </div>
  <div class="row mb-3 text-center container-fluid justify-content-center m-auto">
    <table class="table table-bordered table-dark rules">
      <thead>
        <tr>
          <th>Rules</th>
          <th>Evaluation account</th>
          <th>Exhibition account</th>
          <th>Funded-pro-account</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TRAILING DRAWDOWN</td>
          <td>The trailing drawdown is calculated intraday, which means after closing each trade. Traders must not let their net account balance dip below the trailing drawdown at any point in the trading session. This will lead to a broken rule and
            your account will no longer be eligible for funding.</td>
          <td>The trailing drawdown is calculated intraday, which means after closing each trade. Traders must not let their net account balance dip below the trailing drawdown at any point in the trading session. This will lead to a broken rule and
            your account will no longer be eligible for funding.</td>
          <td>The trailing maximum drawdown is calculated intraday, which means after closing each trade. Traders must not let their net account balance dip below the trailing drawdown at any point in the trading session. Breaking this rule will
            result in loss of the account. Positive balances will be paid out and the account will no longer be tradeable. In the Funded-Pro Account, the trailing maximum drawdown STOPS trailing, once it reaches the traders initial starting balance
            +$100.</td>
        </tr>
        <tr>
          <td>TRADING THE NEWS</td>
          <td>There are no restrictions in the Evaluation Account, you may trade during any news events.</td>
          <td>Restrictions apply – Click the link below for more information on which high impact news events your account must be completely flat for. Having trades on during restricted news events will result in a broken rule, and your account will
            no longer be eligible for funding.</td>
          <td>Restrictions apply – Click the link below for more information on which high impact news events your account must be completely flat for. Having trades on during restricted news events will result in a broken rule, and your account will
            no longer be eligible for funding.</td>
        </tr>
        <tr>
          <td>CONTRACT SCALING PLAN</td>
          <td>Each account size will have a corresponding contract scaling plan that you must follow. Breaking the scaling plan will result in a broken rule at which point your account will no longer be eligible for funding.</td>
          <td>Each account size will have a corresponding contract scaling plan that you must follow. Breaking the scaling plan will result in a broken rule at which point your account will no longer be eligible for funding.</td>
          <td>Each account size will have a corresponding contract scaling plan that you must follow. Breaking the scaling plan will result in a broken rule at which point your account will no longer be eligible for funding.</td>
        </tr>
        <tr>
          <td>RESETS</td>
          <td>You may reset your account for a fee of $100, which will allow you to start your evaluation from the beginning again.</td>
          <td>There are no resets available in the Exhibition Account.</td>
          <td>There are no resets available in the Funded-Pro-Account.</td>
        </tr>
        <tr>
          <td>TRADING DURING PERMITTED TIMES</td>
          <td>Daily - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard Time (EST). All positions can be reopened at 6:00 PM EST. Weekends - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard
            Time (EST). All positions can be reopened at 6:00 PM EST on Sunday.</td>
          <td>Daily - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard Time (EST). All positions can be reopened at 6:00 PM EST. Weekends - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard
            Time (EST). All positions can be reopened at 6:00 PM EST on Sunday.</td>
          <td>Daily - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard Time (EST). All positions can be reopened at 6:00 PM EST. Weekends - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard
            Time (EST). All positions can be reopened at 6:00 PM EST on Sunday.</td>
        </tr>
        <tr>
          <td>MINIMUM TRADING DAYS AND CONSISTENCY</td>
          <td>Express Accounts have NO minimum trading days, but you must demonstrate consistency. This means that one session’s profits cannot account for more than 15% of your target. This won’t immediately break a rule, but you will have to trade
            until that session no longer accounts for 15% of your target.</td>
          <td>The Exhibition Account does not have any minimum trading day stipulations attached to it.</td>
          <td>The Funded-Pro-Account does not have any minimum trading day stipulations attached to it.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container-fluid pt-3 pb-3">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h4 class="display-6 fw-normal">Express Account</h4>
  </div>
  <div class="row mb-3 text-center container-fluid justify-content-center m-auto">
    <table class="table table-bordered table-dark rules">
      <thead>
        <tr>
          <th>Rules</th>
          <th>Evaluation account</th>
          <th>Exhibition account</th>
          <th>Funded-pro-account</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>TRAILING DRAWDOWN</td>
          <td>The trailing drawdown is calculated intraday, which means after closing each trade. Traders must not let their net account balance dip below the trailing drawdown at any point in the trading session. This will lead to a broken rule and
            your account will no longer be eligible for funding.</td>
          <td>The trailing drawdown is calculated intraday, which means after closing each trade. Traders must not let their net account balance dip below the trailing drawdown at any point in the trading session. This will lead to a broken rule and
            your account will no longer be eligible for funding.</td>
          <td>The trailing maximum drawdown is calculated intraday, which means after closing each trade. Traders must not let their net account balance dip below the trailing drawdown at any point in the trading session. Breaking this rule will
            result in loss of the account. Positive balances will be paid out and the account will no longer be tradeable. In the Funded-Pro Account, the trailing maximum drawdown STOPS trailing, once it reaches the traders initial starting balance
            +$100.</td>
        </tr>
        <tr>
          <td>TRADING THE NEWS</td>
          <td>There are no restrictions in the Evaluation Account, you may trade during any news events.</td>
          <td>Restrictions apply – Click the link below for more information on which high impact news events your account must be completely flat for. Having trades on during restricted news events will result in a broken rule, and your account will
            no longer be eligible for funding.</td>
          <td>Restrictions apply – Click the link below for more information on which high impact news events your account must be completely flat for. Having trades on during restricted news events will result in a broken rule, and your account will
            no longer be eligible for funding.</td>
        </tr>
        <tr>
          <td>CONTRACT SCALING PLAN</td>
          <td>Each account size will have a corresponding contract scaling plan that you must follow. Breaking the scaling plan will result in a broken rule at which point your account will no longer be eligible for funding.</td>
          <td>Each account size will have a corresponding contract scaling plan that you must follow. Breaking the scaling plan will result in a broken rule at which point your account will no longer be eligible for funding.</td>
          <td>Each account size will have a corresponding contract scaling plan that you must follow. Breaking the scaling plan will result in a broken rule at which point your account will no longer be eligible for funding.</td>
        </tr>
        <tr>
          <td>RESETS</td>
          <td>You may reset your account for a fee of $100, which will allow you to start your evaluation from the beginning again.</td>
          <td>There are no resets available in the Exhibition Account.</td>
          <td>There are no resets available in the Funded-Pro-Account.</td>
        </tr>
        <tr>
          <td>TRADING DURING PERMITTED TIMES</td>
          <td>Daily - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard Time (EST). All positions can be reopened at 6:00 PM EST. Weekends - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard
            Time (EST). All positions can be reopened at 6:00 PM EST on Sunday.</td>
          <td>Daily - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard Time (EST). All positions can be reopened at 6:00 PM EST. Weekends - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard
            Time (EST). All positions can be reopened at 6:00 PM EST on Sunday.</td>
          <td>Daily - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard Time (EST). All positions can be reopened at 6:00 PM EST. Weekends - ALL positions must be flattened (closed completely) by 3:55 PM Eastern Standard
            Time (EST). All positions can be reopened at 6:00 PM EST on Sunday.</td>
        </tr>
        <tr>
          <td>MINIMUM TRADING DAYS AND CONSISTENCY</td>
          <td>Trade a minimum of 15 days, while demonstrating consistency. This means that one session’s profits cannot account for more than 40% of your target. This won’t immediately break a rule, but you will have to trade until that session no
            longer accounts for 40% of your target.</td>
          <td>The Exhibition Account does not have any minimum trading day stipulations attached to it.</td>
          <td>The Funded-Pro-Account does not have any minimum trading day stipulations attached to it.</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid pt-3 pb-3 bg-dark video-section border-bottom border-top ">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">Trailing Maximum Drawdown</h2>
    <p class="fs-6">The Trailing Maximum Drawdown is best thought of as a minimum account balance. For instance, the Trailing Maximum Drawdown for our $50K account is $2,000.
      <br>
      <br>
      This means, that on day 1 of a new 50K Evaluation, your Trailing Max Drawdown would start at 48K. The Trailing Max Drawdown will recalculate after each trade that results in +PnL . It trails by an equal amount to the trades +PnL. If the trade
      is a losing trade, the Trailing Max Drawdown does NOT move.
      <br>
      <br>
      The Trailing Max Drawdown follows your account balance until you meet your total profit target. If at any point your balance drops below this amount, your trades will be automatically closed and the rule will be considered broken.
      <br>
      <br>
      In the Funded-Pro Account, the Trailing Max Drawdown behaves in the same fashion, but with one very important difference – once the Trailing Max Drawdown reaches your starting balance +100$; it STOPS trialing, and remains at that level
      indefinitely.
      <br>
      <br>
      This rule is set in place to make sure traders build the habit of taking profits off of the table when they are available, and so that traders do not get in the habit of allowing winners to turn into losers.</p>
    <p class="fs-6 text-muted">(These examples do not take fees and/or commissions into consideration, so be aware of them when trading, and always leave yourself a bit of wiggle room).</p>
  </div>
</div>

<div class="container-fluid pt-3 pb-3 border-top">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">How it works</h2>
  </div>
  <div class="row mb-3 text-center container justify-content-center m-auto">
    <ul class="mt-3 mb-4 text-start">
      <li>Payouts can be requested every Tuesday of the week and are processed within 24 hours.</li><br>
      <li>Minimum withdrawal is $1000.</li><br>
      <li>You can request a withdrawal for any amount above $1000, provided your account is above the Account Minimum Threshold.</li><br>
      <li> The Account Minimum Thresholds are as follows:
        <br>25K Account – $26500
        <br>50k account – $52000
        <br>100k account -$103600
        <br>150k account – $155000
        <br>250k account – $256000</li><br>
      <br>
      <li>A balance below the Account Minimum Threshold alone, does not mean a broken rule, but you will have to meet the Account Minimum Threshold before withdrawing again.</li><br>
      <li>When a withdrawal is initiated, and processed, FFN will take 20% and distribute the remaining 80% to the trader.</li><br>
      <li>Payouts are made via PayPal, bank wire, or ACH (ACH by default)</li><br>
    </ul>
  </div>
</div>


<div class="container-fluid bg-dark pt-3 pb-3 border-bottom border-top video-section">
  <div class="long-pricing-header p-3 pb-md-4 mx-auto text-center">
    <h2 class="display-4 fw-normal">Why should I choose FFN?</h2>
    <p class="fs-6 text-muted"></p>
    <p class="fs-5">At FFN, we pride ourselves on being the most trader-focused remote prop firm in existence. FFN is a company created by real traders, with real experience, and a passion for running a shop that operates with honesty,
      integrity, and transparency. FFN’s main goal is to bring as many funded traders on board as possible. Others in the funded trading space require overly restrictive stipulations that hinder trading,and trap traders in a frustrating cycle. FFN
      puts the funding of consistent traders, and the education of aspiring funded traders of the future, at the forefront of the entire operation. FFN’s founders are made up of active traders and successful business owners, who know exactly what it
      takes to succeed in trading, and most importantly, achieve consistency and longevity in the business of being an active trader.</p>
  </div>
</div>

<div class="container-fluid footer border-top">
  <footer class="pt-4 pt-md-5 container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://fundedfuturesnetwork.com/wp-content/uploads/2022/06/cropped-cropped-Trans-Gold-1.png" alt="" width="100" height="90">
        <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
      </div>
      <div class="row liability">
        <p>
          © 2022 – Funded Futures Network LLC, The FFN Logo are both trademarks of Funded Futures Network LLC
          <br>
          <br>
          Risk Disclosure: Futures and forex trading contains substantial risk and is not for every investor. An investor could potentially lose all or more than the initial investment. Risk capital is money that can be lost without jeopardizing
          ones’ financial security or life style. Only risk capital should be used for trading and only those with sufficient risk capital should consider trading. Past performance is not necessarily indicative of future results. View Full Risk
          Disclosure Here
          <br>
          <br>
          Hypothetical Performance Disclosure: Hypothetical performance results have many inherent limitations, some of which are described below. No representation is being made that any account will or is likely to achieve profits or losses similar
          to those shown; in fact, there are frequently sharp differences between hypothetical performance results and the actual results subsequently achieved by any particular trading program. One of the limitations of hypothetical performance
          results is that they are generally prepared with the benefit of hindsight. In addition, hypothetical trading does not involve financial risk, and no hypothetical trading record can completely account for the impact of financial risk of
          actual trading. for example, the ability to withstand losses or to adhere to a particular trading program in spite of trading losses are material points which can also adversely affect actual trading results. There are numerous other
          factors related to the markets
          Last updated June 13, 2019 in general or to the implementation of any specific trading program which cannot be fully accounted for in the preparation of hypothetical performance results and all which can adversely affect trading results.
          <br>
          <br>
          Testimonials: Testimonials appearing on this website may not be representative of other clients or customers and is not a guarantee of future performance or success.
          <br>
          <br>
          Live Trade Room: This presentation is for educational purposes only and the opinions expressed are those of the presenter only. All trades presented should be considered hypothetical and should not be expected to be replicated in a live
          trading account.
          <br>
          <br>
          Virtual Currency: View CFTC advisories as they contain more information on the risks associated with trading virtual currencies.
        </p>
      </div>
      <!-- <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div> -->
      <!-- <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div> -->
      <!-- <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div> -->
    </div>
  </footer>
</div>