.border-top {
    border-top: 1px solid #ccc
}

.video-section {
    color: white !important;
}

.rules td{
    font-size: 14px;
    
}
.rules{
    font-size: 14px;
    border-color: #E5C561
}
