<app-homepage-navbar></app-homepage-navbar>
<section>
  <div class="container">
    <div class="section-title mt-3">
      <h2>Signup</h2>
    </div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit" class="row">
        <div class="col-md-12">
          <label for="id_username" class="form-label">Username</label>
          <input formControlName="username" type="text" class="form-control" id="id_username" required>
          <div *ngIf="username.touched && username.errors?.required" class="d-block invalid-feedback">Username required.</div>
        </div>
        <div class="col-md-12">
          <label for="id_password" class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control" id="id_password" required>
          <div *ngIf="password.touched && password.errors?.required" class="d-block invalid-feedback">Password required</div>
        </div>

        <div class="col-md-6 mt-4">
          <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary px-5" (click)="login()">Login</button>
        </div>
        <div class="col-12 d-flex justify-content-start mt-2 font-weight-light">
          <a routerLink="/sign-up">Don't have an account?</a>
        </div>
      </form>
    </div>
  </div>
</section>