<div class="container">
  <div class="card-body p-md-5 text-black">
    <h5 class="mb-5 text-uppercase">Edit Profile</h5>

    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <input type="text" id="form3Example1m" class="form-control form-control-lg" [(ngModel)]="user['first']" />
          <label class="form-label" for="form3Example1m">First name</label>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <input type="text" id="form3Example1n" class="form-control form-control-lg" [(ngModel)]="user['last']" />
          <label class="form-label" for="form3Example1n">Last name</label>
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example8" class="form-control form-control-lg" placeholder="{{user['address']}}" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" />
      <label class="form-label" for="form3Example8">Address</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example9" class="form-control form-control-lg" [(ngModel)]="user['phone']" />
      <label class="form-label" for="form3Example9">Phone Number</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example90" class="form-control form-control-lg" [(ngModel)]="user['email']" />
      <label class="form-label" for="form3Example90">Email</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example90" class="form-control form-control-lg" [(ngModel)]="user['username']" disabled />
      <label class="form-label" for="form3Example90">Username</label>
    </div>

    <div class="d-flex justify-content-end pt-3">
      <button type="button" class="btn btn-outline-success btn-lg ms-2" (click)="update()">Update</button>
    </div>
  </div>
</div>