<div class="row row-cols-1 row-cols-md-3 mb-3 text-center container justify-content-center m-auto">
  <div class="col" *ngFor="let tier of tiers">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">{{tier['friendly']}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li class="mt-2">{{tier['dailyDrawdown']}}</li>
          <li class="mt-2">{{tier['trailingMax']}}</li>
          <li class="mt-2">{{tier['contractMax']}}</li>
        </ul>
        <button type="button" class="w-100 mb-4 btn btn-md btn-outline-primary" data-bs-toggle="modal" data-bs-target="#stripeModal" (click)="setSelectedTier(tier, 0)">Standard Package: {{tier['standardPrice'] | currency}}/mo</button>
        <button type="button" class="w-100 btn btn-md btn-outline-success" data-bs-toggle="modal" data-bs-target="#stripeModal" (click)="setSelectedTier(tier, 1)">Express Package: {{tier['expressPrice'] | currency }}/mo</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="stripeModal" tabindex="-1" aria-labelledby="stripeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stripeModalLabel">{{selectedTier['friendly']}} {{selectedTier['package']}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-12 d-flex justify-content-center">
            <h5>Whats Included in my Package ?</h5>
          </div>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="mt-2">{{selectedTier['dailyDrawdown']}}</li>
            <li class="mt-2">{{selectedTier['trailingMax']}}</li>
            <li class="mt-2">{{selectedTier['contractMax']}}</li>
            <li class="mt-2">{{selectedTier['status'] == 'S' ? selectedTier['standardDescription'] : selectedTier['expressDescription']}}</li>
          </ul>
        </div>
        <div class="row">
          <div class="col-12">
            <h6>Payment Info</h6>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="form3Example1m">First name</label>
                  <input type="text" id="form3Example1m" class="form-control form-control-md" [(ngModel)]="user['first']" />
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <label class="form-label" for="form3Example1n">Last name</label>
                  <input type="text" id="form3Example1n" class="form-control form-control-md" [(ngModel)]="user['last']" />
                </div>
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example58">Address</label>
              <input type="text" id="form3Example58" class="form-control form-control-md" [(ngModel)]="user['address']" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example9">Phone Number</label>
              <input type="text" id="form3Example9" class="form-control form-control-md" [(ngModel)]="user['phone']" />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example90">Email</label>
              <input type="text" id="form3Example90" class="form-control form-control-md" [(ngModel)]="user['email']" />
            </div>
          </div>
          <div class="col-12">
            <form id="payment-form">
              <label for="card-element">Credit or debit card:</label><br>
              <div id="card-element" class="form-control" style='height: 2.4em; padding-top: .7em;'></div>
              <div id="card-errors" role="alert" style="color:red">{{displayError}}</div>
            </form>
          </div>
        </div>
        <div class="row mt-3 align-items-center">
          <div class="col-3">
            <input type="text" class="form-control" placeholder="Affiliate Code" [(ngModel)]="affiliateCode">
          </div>
          <div class="col-2">
            <button class="btn btn-md btn-outline-success" (click)="applyAffiliateDiscount()">Apply</button>
          </div>
          <div class="col-1"></div>
          <div class="col-6 d-flex justify-content-end">Package Cost: {{selectedTier['price'] | currency}}</div>
          <div class="col-12 d-flex justify-content-end " *ngIf="discount > 0">Affiliate Discount: -{{discount | currency}}</div>
          <div class="col-12 d-flex justify-content-end">Total Cost: {{selectedTier['total'] | currency}}</div>

        </div>
        <div class="row mt-5">
          <hr>
        </div>
        <div class="row ">
          <div class="col-12 d-flex justify-content-end">
            <button id="submit" class="btn btn-md btn-outline-primary" (click)="createToken()" style="width:200px;">Pay</button>
          </div>
          <!-- <h6>Total: {{selectedTier['price'] | currency}}</h6> -->
        </div>
      </div>
    </div>
  </div>
</div>