<div class="row row-cols-1 row-cols-md-3 mb-3 text-center container justify-content-center m-auto">
  <div class="col" *ngFor="let tier of tiers">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Tier {{tier['id']}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{tier['friendly']}}<small class="text-muted fw-light">/mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
        </ul>
        <button type="button" class="w-100 mb-4 btn btn-lg btn-outline-primary" data-bs-toggle="modal" data-bs-target="#stripeModal" (click)="selectedTier=tier">Buy Standard Package</button>
        <button type="button" class="w-100 btn btn-lg btn-outline-success" data-bs-toggle="modal" data-bs-target="#stripeModal" (click)="selectedTier=tier">Buy Express Package</button>
        <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="purchase(tier)">Purchase</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="stripeModal" tabindex="-1" aria-labelledby="stripeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stripeModalLabel">Tier {{selectedTier['id']}} - {{selectedTier['friendly']}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="col-12 d-flex justify-content-center">
            <h5>Plan Breakdown</h5>
          </div>
          <div class="col-12 d-flex justify-content-center mt-3 mb-3" *ngFor="let descr of selectedTier['description']">
            {{descr}}
          </div>
        </div>
        <div class="row col-12" id="card-element"></div>
        <div class="row col-12" id="card-errors" role="alert"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createToken()">Save changes</button>
      </div>
    </div>
  </div>
</div>