<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title">
      <h2>Pricing</h2>
      <p>Choose a plan from below</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6" *ngFor="let tier of tiers">
        <div class="box">
          <h3>{{tier['friendly']}}</h3>
          <ul>
            <li>Daily Drawdown: {{tier['dailyDrawdown']}}</li>
            <li>{{tier['trailingMax']}}</li>
            <li>Profit Target: {{tier['profitTarget']}}</li>
            <li>{{tier['contractMax']}}</li>
          </ul>
          <h6>{{ tier['standardDescription'] }}</h6>
          <div class="btn-wrap">
            <button class="btn-buy" (click)="setSelectedTier(tier, 0)" data-bs-toggle="modal" data-bs-target="#stripeModal">Buy Standard Package for ${{ tier['standardPrice'] | number}}/Month</button>
          </div>
          <hr>
          <h6>{{ tier['expressDescription'] }}</h6>
          <div class="btn-wrap">
            <button class="btn-buy" (click)="setSelectedTier(tier, 1)" data-bs-toggle="modal" data-bs-target="#stripeModal">Buy Express Package for ${{ tier['expressPrice'] | number}}/Month</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Pricing Section -->

<!-- Modal -->
<div class="modal fade" id="stripeModal" tabindex="-1" aria-labelledby="stripeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stripeModalLabel">{{selectedTier['friendly']}} {{selectedTier['package']}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section id="pricing" class="pricing">
          <div class="col-12">
            <div class="box">
              <ul>
                <li>Daily Drawdown: {{selectedTier['dailyDrawdown']}}</li>
                <li>{{selectedTier['trailingMax']}}</li>
                <li>Profit Target: {{selectedTier['profitTarget']}}</li>
                <li>{{selectedTier['contractMax']}}</li>
              </ul>
              <h6>{{ selectedTier['standardDescription'] }}</h6>

            </div>
          </div>
        </section>
        <div class="row">
          <div class="col-12">
            <h6>Payment Info</h6>
          </div>
          <div class="col-12">
            <form id="payment-form">
              <label for="card-element">Credit or debit card:</label><br>
              <div id="card-element" class="form-control" style='height: 2.4em; padding-top: .7em;'></div>
              <div id="card-errors" role="alert" style="color:red">{{displayError}}</div>
            </form>
          </div>
        </div>
        <div class="row mt-3 align-items-center">
          <div class="col-3">
            <input type="text" class="form-control" placeholder="Affiliate Code" [(ngModel)]="affiliateCode">
          </div>
          <div class="col-2">
            <button class="btn btn-md btn-outline-success" (click)="applyAffiliateDiscount()">Apply</button>
          </div>
          <div class="col-1"></div>
          <div class="col-6 d-flex justify-content-end">Package Cost: {{selectedTier['price'] | currency}}</div>
          <div class="col-12 d-flex justify-content-end " *ngIf="discount > 0">Affiliate Discount: -{{discount | currency}}</div>
          <div class="col-12 d-flex justify-content-end">Total Cost: {{selectedTier['total'] | currency}}</div>

        </div>
        <div class="row mt-5">
          <hr>
        </div>
        <div class="row ">
          <div class="col-12 d-flex justify-content-end">
            <button id="submit" class="btn btn-md btn-outline-primary" (click)="createToken()" style="width:200px;">Pay</button>
          </div>
          <!-- <h6>Total: {{selectedTier['price'] | currency}}</h6> -->
        </div>
      </div>
    </div>
  </div>
</div>