<section>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between ">
      <h1 class="logo"><a routerLink="../dashboard">Funded Futures Network</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" routerLink="/dashboard">Dashboard</a></li>
          <li><a class="nav-link scrollto" routerLink="/dashboard/billing">Billing</a></li>
          <li><a class="nav-link scrollto" routerLink="/dashboard/invoice">Invoice</a></li>
          <li><a class="nav-link scrollto" routerLink="/dashboard/profile">Profile</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
</section>